@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  font-family: "Bangers", system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color:#ff7715;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 10vmin;
  margin: auto;
}
p {
color: black;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
}

button {
  border: 0.5vmin solid #1a1a1a;
  border-radius: 0.5vmin;
  padding: 0.8vmin;
  font-size: 3vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: whitesmoke;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: #1a1a1a;
  border-color: #1a1a1a;
}
button:disabled {
  background-color: grey;
}

main{
  display: flex;


}

a {
  border-radius: 0.8vmin;
  padding: 0.5vmin;
  font-size: 2vmin;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #1a1a1a;
  color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2vmin;
  padding: 4vmin;
  margin: auto;
  border: 0.5vmin solid #1a1a1a;
  border-radius: 1vmin;
  align-items: stretch; /* Ensures all form elements take up full width */
}


input {
  padding: 1vmin;
  font-size: 3vmin;
  border: 0.3vmin solid #1a1a1a;
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 5vmin;
  font-weight: bold;
  margin: 1vmin;
}

h2 {
  text-align: center;
  font-size: 5vmin;
}

.error-message {
  color: rgb(166, 29, 29);
}

